[package]
name = "ckb-std"
version = "0.11.0"
authors = ["Nervos network"]
edition = "2021"
license = "MIT"
repository = "https://github.com/nervosnetwork/ckb-std"
description = "This library contains serveral modules help you write CKB contract with Rust"
exclude = ["docs"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["allocator", "ckb-types", "dlopen-c"]
allocator = [ "buddy-alloc" ]
simulator = [ "ckb-x64-simulator" ]
dlopen-c = []
no-dummy-libc = []
rustc-dep-of-std = ["alloc", "core", "compiler_builtins/rustc-dep-of-std", "buddy-alloc/rustc-dep-of-std"]

[build-dependencies]
cc = "1.0"

[dependencies]
ckb-types = { package = "ckb-standalone-types", version = "0.1.2", default-features = false, optional = true }
buddy-alloc = { version = "0.4.2", optional = true }
ckb-x64-simulator = { version = "0.7.0", optional = true }

alloc = { version = "1.0.0", optional = true, package = "rustc-std-workspace-alloc" }
core = { version = "1.0.0", optional = true, package = "rustc-std-workspace-core" }
compiler_builtins = { version = "0.1.0", optional = true }
